<div id="<%= dom_id product %>">
  <p>
    <i><h4><%= product.name %></h4></i>
  </p>

  <p>
    <img src = <%= product.picture %> width="400" height="100" >
  </p>
  
  <p>
    <strong>Features and Description:</strong><marquee direction = "up" height = 80px scrollamount="2"><%= product.description %></marquee>
  </p>

  <p>
    <strong>Price:</strong>
    <b><i>₹</b> <%= product.price %></i>
  </p>

</div>
